body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, p, pre, code, form, fieldset, legend, input, button, textarea, blockquote { margin: 0; padding: 0 }

table { border-collapse: collapse; border-spacing: 0 }

fieldset, img { border: 0 }

ul { list-style: none }

a{ text-decoration:none; color:#2E2E2E}

caption, th { text-align: left }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }

input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit }

input, button, textarea, select { *font-size: 100% }

/* clear both */

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }

.clearfix { zoom:1;_height: 1px }
#top {
 background: url(images/bg_index.png) repeat-x 0 -270px ; height: 28px;line-height: 28px;
}
#top .inner{ width:960px; margin:0px auto}
#top .logo{ float:left; background: url(images/logo.jpg) no-repeat left center; width:102px; height:26px; text-indent:-9999px; overflow:hidden }
#top .info{ float:left; padding-left:30px;}
#top .share{ float:right}


.logo { width:960px; height:65px; overflow:hidden; margin:17px auto; margin-top:60px; font-size:12px; line-height:28px;}

.nav{ width:960px; height:28px; overflow:hidden; margin:10px auto; margin-top:5px; font-size:12px; line-height:28px;border-left:1px solid #024A93;border-right:1px solid #024A93; background:url(images/bg_index.png) repeat-x}
.nav ul {}
.nav ul li{ float:left; width:90px; text-align:center; text-indent:3px; text-align:center;background:url(images/bg_index2.png) no-repeat  -380px 5px; }
.nav ul li.current{background:url(images/bg_index2.png) no-repeat  -200px -127px;text-indent:1px; }
.nav ul li.index,.nav ul li.none{ background:none}

.nav ul li a{text-decoration:none;white-space:nowrap; color:#FFFFFF}
.nav ul li.current a{ color:#000000}
.nav ul li a:hover{ text-decoration:underline}

.nav-item{ height:40px; margin-top:10px;padding:0px 8px; overflow:hidden; border-right:1px solid #ccc;float:left}
.nav-item a{ padding:0px 2px; margin:0px 1px}
.nav-item p{ margin-bottom:10px;}
.nav-item-last{ border:none; padding-right:0px;}

.subnav{ width:980px; padding:5px 10px; margin:5px auto; background:#ccc}

.subnav a{ color:#000000; font-weight:bold; padding-right:10px;}

body{ font:13px/25px "lucida Grande",Tahoma,Arial,Helvetica,"ו",sans-serif ; color:#000}

.line{ height:13px; background:url(images/line.png)}

.fdlink{ width:960px; margin:10px auto}

.link{ height:27px; background:url(images/fd.jpg) no-repeat -2px -1px; border:1px solid #DCDCDC; border-bottom:none}

.link b{ font-weight:normal; padding:0px 10px; line-height:27px;}

.link_main{ border:1px solid #D3D3D3; border-top:none; padding:5px; overflow:hidden}

.link_main ul li{ float:left; padding:0px 4px;}

.link_main ul li a{white-space:nowrap;}

.footer{ text-align:center; margin-bottom:10px;}

.footer strong{ font-weight:normal}

.bd{ width:960px; margin:10px auto}

.html{ width:320px; float:left;_display:inline; margin-top:15px; background:#fff; margin-right:20px;}

.html ul{ padding:5px; border:1px solid #DFDFDF; border-top:none}

.html ul li{ border-bottom:1px dashed #ddd; height:24px; overflow:hidden}

.banner{ width:958px; margin:0px auto;height:25px; line-height:25px; text-indent:18px;background:url(images/bg_index2.png) no-repeat -387px -20px }

.banner a{ color:#444}

.banner strong{ padding-right:5px;}

.banner h2{ float:left}

.html .banner a{ float:right; padding-right:10px; color:#333}

.hot{ float:left;border:1px solid #DCDCDC; width:290px; _display:inline; margin-right:12px; height:280px;}

.hot .hd-banner b{display:block; float:left; margin-left:5px; _display:inline;padding-left:20px;background:url(images/index_icon.gif) no-repeat scroll 2px -105px }

.hot .hd-banner{ padding-left:0px;}

.hot ul{ padding:7px 5px; }

.hot ul li{ height:24px; width:270px; padding-left:8px; overflow:hidden;background:url(images/dot.gif) no-repeat 1px -13px }

.hot .banner{ height:28px; line-height:28px;background:url(images/aaa.jpg) 0px -58px repeat-x; text-indent:0px;}

.hot .banner b{ float:left; height:25px; font-weight:normal; padding-top:2px; overflow:hidden}
.tuijian .image{}
.tuijian .image .tu{ width:135px; height:110px; float:left; padding-left:0px; text-align:center; padding-right:10px}
.news{ width:330px; padding:5px; position:relative;padding-bottom:4px; background:url(images/bgnew_focus.jpg) 0px -1px repeat-x;float:left;border:1px solid #DCDCDC;}

.news h1{ text-align:center; padding:1px;}

.news h1 a{ font-size:14px; color:#FF0000;}

.news p{ font-size:12px; line-height:18px; color:#666; text-indent:15px;}

.news ul{ padding:5px;}

.news ul li{ height:24px; overflow:hidden; position:relative}

.news ul li span{ position:absolute; right:0px; color:#999999}

.news strong{ font-weight:normal}

.news .new-icon{ width:53px; height:8px; overflow:hidden; position:absolute; left:0px; top:0px;background:url(images/bar_new.png) no-repeat}

.commend{ float:right; margin-right:0px;}

.bd .last{ margin-right:0px;}

.bd strong{ font-weight:normal; text-indent:0px;}

.postion{ float:left}

.list{ width:610px;border:1px solid #DFEDF2; padding:15px; float:left}

.list ul li{ border-bottom:1px dotted #D9D9D9; margin-bottom:10px; padding-bottom:5px; }

.list ul li a{ color:#1A64A2; font-weight:bold}

.list .page{ border:none}

.page li{ float:left; height:20px; line-height:20px; padding:0px 5px; font-size:12px;border:1px solid #E9E9E9; margin-right:10px;}

.list ul.page li a{ display:block; float:left; color:#333}

.list ul.page li.thisclass{ color:#0066FF; font-weight:bold}

.aside{ width:300px; float:right}

.recommend{ border:1px solid #ccc; margin-bottom:5px;}

.recommend ul{ padding:5px}

.recommend ul li{ background:url(images/li_arrow.gif) no-repeat left center; padding-left:10px; height:24px; overflow:hidden ; font-size:12px; }

.recommend ul li a{ color:#1A64A2}

.recommend ul li a:hover{ text-decoration:underline; color:#FF6600}
.recommend .image{ margin-left:25px; padding-top:2px;}
.recommend .image .tu{ width:135px; height:110px; float:left; padding-left:0px; text-align:center; padding-right:10px}
#norecommend{ display:block; border:none}
.title{ height:25px;  background:url(images/title.jpg) no-repeat; text-indent:5px;}

.article{width:645px; float:left}

.article img{ max-width:600px;}

.article .content{ border:1px solid #DFEDF2;padding:10px;}

.article h1{ height:40px; line-height:40px;font-size:16px; text-align:center; font-weight:bold }

.article .info { height:40px; line-height:40px; border-bottom:1px dotted #ccc; text-align:center; margin-bottom:10px;}

.article .info small{ font-style:normal; font-size:12px; padding-right:5px; padding-left:5px;}

#text{ padding:10px; line-height:26px; word-wrap:break-word}

#text a{ color:#1A64A2}

#text a b{color:#2E2E2E}

#text .context a,#text .pagelist li a{ color:#333333}

.context a{ color:#1A64A2}

.mt1{ margin-top:15px;}

.tbox{ border:1px solid #ccc;}

.tbox dt{ height:25px; border-bottom:1px solid #ccc; background:url(images/pl.jpg) repeat-x; text-indent:10px;}

.tbox dt strong{ float:left; padding-left:5px;}

.tbox dt .more{ float:right; padding-right:10px;}

.dede_comment_post{ padding:8px;}

.dcmp-userinfo{ height:30px; line-height:30px; float:left; font-size:12px;}

.dcmp-userinfo input{ margin:0px 3px;}

.dcmp-userinfo img{}

.dcmp-submit{ float:left; margin-top:5px; font-size:12px;}

.dcmp-submit button{font-size:12px;}

.decmt-box2 .plpic{ display:none}

#commetcontent{ padding:5px;}

.decmt-box2 ul li{ border-bottom:1px dashed #ccc; overflow:hidden; padding-bottom:10px;}

.title a{ color:#0033FF; font-size:12px;}

.fr{ float:right; display:none}

.comment_act{ color:#AEAEAE}

.decmt-box2 p img{ display:none}

pre{ background:#F5F5F5; border:1px dotted #778855; margin:10px 0px; padding:10px 5px; font-size:12px;}

pre{ white-space: pre-wrap;word-wrap: break-word;}

#text strong{ font-weight:bold}

.pagelist{ padding:10px; overflow:hidden}

.pagelist li{ float:left; margin:5px;}

.pagelist li.thisclass{ font-weight:bold; color:#FF0000}

.about{ height:160px; }
.about ul{ width:300px; float:left}
.about .ad6{ width:300px; float:left}
.about ul li{ width:300px; height:25px; line-height:25px; overflow:hidden}
.about li a{color:#1A64A2}

.context{ margin:10px; border-top:1px dashed #ccc; border-bottom:1px dashed #ccc; font-size:12px; }

.context li{}

.hb{ height:25px; line-height:25px; border:1px solid #E6E6E6; background:#F2F2F2; padding:0px 5px;}



.hb h2{ float:left;}



.hb a{ float:right}



.hot_article,.commend_article{height:25px;  background:url(images/title.jpg) no-repeat right; text-indent:5px;}



.addresses{ padding-top:10px;}



.dcmp-title  p{ font-size:12px; color:#888}

.index_list{ float: left;width: 645px;}

.index_list .tbox{ margin-bottom:10px;}

.commend_r{ margin-bottom:10px;}

.index_list h3{height:25px; border-bottom:1px solid #ccc; background:url(images/pl.jpg) repeat-x; text-indent:10px;}

.index_list h3 strong{ float:left; padding-left:10px;}

.index_list h3 span{ float:right; padding-right:10px; padding-left:10px;}

.index_list ul{ padding:5px;}

.index_list_item{ border:1px solid #ccc; margin-bottom:10px;}

.index_list_item ul li{ height:25px; line-height:25px; font-family:"ו"}

.index_list_item ul li a{ float:left}

.index_list_item ul li span{ float:right}



.hd{  width:958px; border:1px solid #DCDCDC; margin:10px auto}

.hd-banner{ height:25px; padding:0px 10px; line-height:25px; background:url(images/fd.jpg) no-repeat -2px -1px; border-bottom:1px solid #DCDCDC}

.hd-banner h2{ float:left; font-weight:bold;background:url(images/index_icon.gif) no-repeat 2px 8px ; padding-left:20px; }

.hd-banner .more{ float:right}

.hd-subnav{ float:right; padding:0px 10px; }

.hd-subnav a{ padding:0px 10px; background:url(images/wq.jpg) no-repeat right center }

.hd-subnav a:hover{ text-decoration:underline}

.hd-con{ padding:10px;}

.hd .tuijian{ width:300px; float:left ; }

.hd .tuijian ul {border-right:1px dashed #ccc}

.hd .tuijian ul li{ width:280px; height:25px; line-height:25px;overflow:hidden; background:url(images/icon-recommd.gif) no-repeat 0px 10px; padding-left:10px;}

.hd .tuijian p{ padding-left:10px;}

.hd-list{ float:left; padding-left:15px; width:310px; }

.hd-list li{ position:relative; height:25px; line-height:25px;}

.hd-list li span{ position:absolute; right:0px; top:0px; color:#999999}

.hd-list a{ left:12px;position:absolute; width:260px; height:25px; overflow:hidden; top:1px;}

.hd-hot{ width:285px; float:left; padding-left:20px;}

.hd-hot ul li{ width:270px; height:25px; overflow:hidden; background:url(images/dot.gif) no-repeat 1px -13px; padding-left:10px}

.hd-list h2 a{ position:static}

.click{

 border: 1px solid #DCDCDC; 

 width: 300px;

 float:right

}

.click ul{ padding:2px 5px; *padding:5px; _padding:2px 5px;}

.click ul li{ height:25px; line-height:25px; overflow:hidden; background:url(images/dot.gif) no-repeat scroll 1px 10px; padding-left:7px; }

.click-banner{ background: url(images/fd.jpg) no-repeat scroll -2px -1px;

    border-bottom: 1px solid #DCDCDC;

    height: 25px;

    line-height: 25px;

    }

	

.click-banner b{ display:block; float:left; margin-left:5px; _display:inline;padding-left:20px;background:url(images/index_icon.gif) no-repeat scroll 2px 8px }

.click-banner a{ display:block; height:25px; width:50px; text-align:center; float:right;border-left:1px solid #DCDCDC;}

a{ text-decoration:none}

.click-banner a.hover{background:url(images/bg_focus.jpg) repeat-x 2px -2px; font-weight:bold }
.submenu{ padding:10px;}
.submenu a{ padding:0px 5px;white-space:nowrap;}
.search{ margin-bottom:5px;}
.search .search-keyword{ width:220px;}
.resultlist{ width:800px;}
.resultlist li{ margin-bottom:10px;}
.resultlist h3 a{ color:#1122CC}
.resultlist span a{ color:#009933}
.resultlist p{ line-height:20px;}
.foot_link{ width:960px; margin:5px auto; border-bottom:1px solid #DDD; background:#F1F1F1; text-align:center}
.about-line{ height:30px; line-height:30px;background:url(images/bg_index.png) repeat-x 0 -210px }
.about-line b{ display:block;height:30px; width:70px; float:left; margin-left:20px; text-align:center; background:#fff}
.sitemap{ width:960px; margin:10px auto}
.sitemap .linkbox{ border:1px solid #DFEDF2; margin-top:10px;}
.sitemap .linkbox h3{ display:block; background:#F8FBFC; padding:2px 5px}
.sitemap .linkbox ul { overflow:hidden; }
.sitemap .linkbox ul li{ float:left; margin-left:10px;}
.flinkbox{ width:960px; margin:10px auto; border:1px solid #ccc; padding-top:10px;}
.flinkbox ul li{ float:left; margin-left:10px;}
#ad1{ width:960px; margin:5px auto; margin-top:2px;}
.ad300{ margin-bottom:5px; margin-top:8px;}
#adtxt{ width:500px; margin:5px auto}
.manual{ padding-left:10px; line-height:20px; padding-top:5px;}
.manual a{font-weight:bold;padding-right:10px;}
.manual a.new{background:url(images/newicon2.gif) no-repeat right center ; font-weight:bold; padding-right:30px;}
#adbody{ width:300px; height:250px; float:left; padding-right:5px;}
#show-remmend,#show-remmend2{ display:block; margin-bottom:0px;}
#show-remmend .title{ display:none}
.sideL{ height:90px; border-right:1px dashed #CCC; padding-top:5px;}
.sideL .sideLeft{ width:130px; float:left}
.sideL img{ border:1px solid #888}

.sideL p{ line-height:18px; color:#C1C1C1}

h2.h2title{ font-size:14px; font-weight:bold; padding-bottom:10px;}
a.dlink{ font-size:14px; font-weight:bold}
.sogou{ width:480px; height:60px; margin:5px auto;}
.content .codep{ font-weight:bold;}
pre.code{ line-height:18px;}
.subchannel a{ font-weight:bold; font-size:14px; padding:0px 3px;}
#norecommend .tu span{ width:130px; height:25px; line-height:25px; overflow:hidden; display:block}
